# Directorios principales a ignorar
**/node_modules/
**/.vscode/
**/.husky/
**/.idea/
**/.github/

# Archivos de configuración
**/.eslint*
**/.travis.yml
**/.gitignore
**/.env*
**/.mocharc*
**/.prettier*

# Archivos generados y logs
**/*.log
**/*.md

# Archivos del sistema y editor
.DS_Store
*.swp
*.swo

# Archivos de lock innecesarios
yarn.lock
package-lock.json