**node_modules/
payContract/.vscode
payContract/.husky
payContract/.eslint*
payContract/.travis.yml
**.log
payContract/.gitignore
payContract/.env
payContract/.env.example
payContract/.idea
payContract/.github
payContract/.mocharc.json
payContract/.mocharc-testnet.json
**.md
payContract/.prettierrc
payContract/.prettierignore