**node_modules/
tsconfig-scryptTS.json
scrypt.index.json
payContract/tsconfig.json
payContract/.vscode
payContract/.husky
payContract/.eslint*
**.js.map
payContract/.travis.yml
**.log
payContract/.gitignore
payContract/.env
payContract/.env.example
payContract/.idea
payContract/.github
payContract/.mocharc.json
payContract/.mocharc-testnet.json
**.md
payContract/.prettierrc
payContract/.prettierignore
payContract/tsconfig-scryptTS.json
payContract/scrypt.index.json