tsconfig.json
src/
.vscode
.husky
.eslint*
.travis.yml
*.log
.gitignore
.env
.env.example
.idea
.github
.mocharc.json
.mocharc-testnet.json
*.md
.prettierrc
.prettierignore


artifacts/**/*.scrypt
artifacts/**/*.scrypt.map
artifacts/**/*.transformer.json